:root {
  --main-text-color: #212121;
  --text-color: #757575;
  --accent-text-color: #2196f3;
  --accent-hover-color: #188ce8;
  --white-text-color: #ffffff;
  --button-bg-grey-color: #f5f4fa;
  --main-bg-color: #fffffff;
  --secondary-bg-color: #f5f4fa;
  --bg-grey-color: #2f303a;
}
body {
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* section header */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.logo-accent {
  color: var(--accent-text-color);
}
.logo-accent:hover {
  color: var(--accent-hover-color);
}
.logo-black-color {
  color: #000000;
}
.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.active {
  color: var(--accent-text-color);
}
.navigation-link:hover {
  color: var(--accent-text-color);
}
.navigation-link:focus {
  color: var(--accent-text-color);
}
.contact-telephon-link,
.contact-mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.contact-mail-link:hover,
:focus {
  color: var(--accent-text-color);
}
.contact-telephon-link:hover,
:focus {
  color: var(--accent-text-color);
}
/* hero section */
.hero {
  background-color: var(--bg-grey-color);
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.modal-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
}
/* description section */
.description-second-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.description-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.about-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/* team members */
.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-text-color);
}
.team-member-profesion {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
}
.team-member-photo {
  background-color: white;
}
.Team {
  background-color: var(--secondary-bg-color);
}
/* footer */
.footer {
  background-color: var(--bg-grey-color);
  color: var(--white-text-color);
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}
.mail,
.phone-number {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.logo-white-color {
  color: var(--white-text-color);
}
.address:hover {
  color: var(--accent-hover-color);
}
.mail:hover {
  color: var(--accent-hover-color);
}
.phone-number:hover {
  color: var(--accent-hover-color);
}
.address:focus {
  color: var(--accent-hover-color);
}
.mail:focus {
  color: var(--accent-hover-color);
}
.phone-number:focus {
  color: var(--accent-hover-color);
}
/* PORTFOLIO */
/* filter */
.portfolio-list-btn {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.filter-btn {
  background-color: var(--button-bg-grey-color);
  border-width: 0px;
  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-text-color);
  background-color: var(--accent-hover-color);
}
/* portfolio-list-img */
.portfolio-list-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  background-color: #ffffff;
}
.portfolio-list-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: #ffffff;
}
